@import "../../../../../../styles/variables"

.scroll-container
  overflow: auto
  .container
    padding-top: 20px
    margin-bottom: 40px

.container
  width: 100%
  max-width: 804px
  margin: 0 auto

.container-big
  max-width: 1200px

.error
  width: 100%
  text-align: center
  color: $red
  padding-bottom: 25px

.bar-nav
  width: 100%
  position: absolute
  .container
    display: flex
    justify-content: space-between
  a
    font-weight: 500
    color: $greyFont
    font-size: $menuFont
    img
      margin-right: 12px
    span
      vertical-align: top
  .form-steps
    font-weight: 500
    color: $greyFont
    font-size: $menuFont

.forms-container
  padding: 20px 60px 40px
  .forms-title
    font-size: 26px
    font-weight: 500
  .forms-subtitle
    font-size: $subTitle
    font-weight: 500
    margin: 42px 0 20px
    position: relative



.edit-button
  position: absolute !important
  right: -10px
  bottom: -10px

.form-actions
  padding: 30px 60px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  border-top: 1px solid #cfcfe1
  .form-next-btn
    position: absolute
    right: 60px
    a
      text-transform: uppercase
      text-decoration: none
      color: $greyFont
  .form-prev-btn
    left: 60px
    position: absolute
    a
      text-transform: uppercase
      text-decoration: none
      color: $greyFont
      span
        margin-left: 9px
        vertical-align: top

.summary-row
  width: 100%
  display: flex
  padding: 18px 0
  border-top: 1px solid #cfcfe1
  &-label
    flex: 0 0.66 66%
    padding-right: 20px
    color: #70708f
  &-content
    flex: 0 0.33 33%
