@import "../../../../../../styles/variables"

.root
  display: flex
  align-items: center
  .icon
    width: 11px
    height: 11px
    margin-right: 10px
    border-radius: 50%
.icon-pending
  background-color: #ced1db
.icon-approved
  background-color: $greenSuccess
.icon-rejected
  background-color: #ffcb72

