@import "../../../styles/variables"

.carrierInfo
  display: flex
  align-items: center
  white-space: nowrap
  .logoWrapper
    width: 44px
    height: 44px
    //border-radius: 22px
    background-color: $white
    background-size: contain
    background-repeat: no-repeat
    background-position: center
  span
    margin: 0
    color: $black
    padding-left: 12px
    font-size: $tableFont