@import "../../../../../../styles/variables"

.root
  display: flex
  align-items: center
  .icon
    width: 11px
    height: 11px
    margin-right: 10px
    border-radius: 50%
.icon-inactive
  background-color: #ff0000
.icon-unpaid
  background-color: #ffcb72
.icon-paid
  background-color: #83e363
.icon-incomplete
  background-color: #ced1db
.icon-active
  background-color: $greenSuccess
.icon-rejected
  background-color: #ffcb72

