@import "./variables"

.auth-root
  height: 100%
  min-height: 100vh
  @include flex

.auth-image
  height: 100%
  min-height: 100vh
  background: url("../assets/img/logo.svg") $pinkLight no-repeat center
  @include flex
  flex-direction: column
  justify-content: space-between
  &.cover-bg
    background-size: 75%
  @media (max-width: 950px)
    background-image: none
  .logo
    padding: 30px
    max-width: 250px
  .bottom-row
    @include flex
    padding: 27px 30px
    justify-content: space-between
    p
      margin: 0
    a
      color: $black
      display: inline-block
      &:not(:last-child)
        margin-right: 30px

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
  .image
    background: url("../assets/img/logo.svg") no-repeat center
    background-size: cover

.form-cover
  width: 100%
  height: 100%
  min-height: 100vh
  background: $white
  position: relative
  @include flex
  align-items: center
  justify-content: center
  @include flex-flow-column
  .form
    width: 100%
    @include flex
    @include flex-flow-column
    img
      margin-bottom: 23px

.auth-form
  width: 100%
  max-width: 380px
  margin: 30px 0 40px
  box-shadow: 0 0 10px 0 rgba(115, 115, 139, 0.12)
  position: relative
  &-submit-button
    margin-top: 30px
  &.auth-form-row
    margin: 20px 0
    max-width: 600px
    @include flex
    @include flex-flow-row
    justify-content: space-between
    box-shadow: none
    @media (max-width: 630px)
      max-width: 290px
    .auth-form-col
      width: 100%
      box-shadow: 0 0 10px 0 rgba(115, 115, 139, 0.12)
      max-width: 290px
  div
    margin: 0
    border-color: #e1e1ee
    label
      display: none
    div
      border-color: #e1e1ee
.auth-form-single
  @extend .auth-form
  margin-bottom: 20px

.error-wrapper-single
  @extend .error-wrapper
  p
    bottom: 0 !important
    margin-top: 0 !important
    position: relative !important
.activate-form
  width: 100%
  max-width: 580px
  margin: 30px 0 40px
  display: flex
  position: relative
  div
    border-color: #e1e1ee
    box-shadow: 0 0 10px 0 rgba(115, 115, 139, 0.12)
    &:first-child
      margin-right: 10px
    &:nth-child(2)
      margin-left: 10px


.form-control
  display: flex
  flex-direction: column
  align-items: center
  position: relative

.form-title
  margin: 0
  width: 100%
  color: $black
  text-align: center
  font-weight: normal
  font-family: $BigCaslonFB
  font-size: $largeTitle

.form-title-green
  margin: 0 0 6px
  width: 100%
  color: $green
  text-align: center
  font-weight: normal
  font-size: 32px

.form-subtitle
  margin: 10px 0
  text-align: center
  font-weight: normal
  color: $greyFont
  font-size: $subTitle
  font-family: $font-family
  &-bordered
    width: 100%
    max-width: 560px
    padding: 20px
    margin: 25px 0
    border-radius: 10px
    background-color: #f7efe3
    ul
      li
        margin: 5px 0
        font-size: $menuFont
        color: $greyFont
        span
          position: relative
          left: 10px
  span
    color: $orangeText

.reset-link
  margin: 0
  bottom: 27px
  position: absolute
  font-size: $mainFont
  color: $greyFont
  width: 100%
  max-width: 310px
  text-align: center
  padding-top: 48px
  &.withTopBorder
    border-top: 1px solid #dbdbdb
    @media (max-width: 950px)
      border-top: none
  a
    color: $violet
    margin-left: 10px
    cursor: pointer
    text-decoration: none


@media (max-width: 950px)
  .reset-link
    position: relative
    margin-top: 10px
    color: black
    bottom: 0

.reset-link.resend
  position: unset
  margin: 36px auto 0
  width: fit-content
  text-align: center
  padding: 16px 23px
  font-size: $middleFont
  border-radius: 4px
  background-color: $pinkLight

.bordered-link
  margin: 26px auto 0
  a
    color: $violet
    text-align: center
    padding: 16px 24px
    font-size: $middleFont
    text-decoration: none
    border-radius: 26px
    background-color: #eeecfd
    display: inline-block
    min-width: 125px

.error-wrapper
  height: 40px
  padding: 0 20px
  color: $red

