.formGroup {
  width: 100%;
  margin-bottom: 8px;
}
.formGroup .label {
  color: #73738b;
  position: relative;
  font-size: 13px;
  transform: none;
  font-weight: 500;
  margin-bottom: 9px;
}
.formGroup .formRow {
  display: flex;
}
.formGroup .formRow div {
  flex: 0 0.33 33%;
}
.formGroup .formRow div:first-child div {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
}
.formGroup .formRow div:last-child div {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 0;
}
.formGroup .formRow div:nth-child(2) div {
  border-radius: 0;
}

/*# sourceMappingURL=DateInputGroup.module.css.map */
