.optionsBox
  background-color: #ffffff
  width: calc(100% - 2px)
  max-height: 150px
  overflow-y: scroll
  border: 1px solid #a4a6aa
  border-top: 0
  margin-top: -14px
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px


.optionItem
  font-family: 'Work Sans', sans-serif
  font-size: 16px
  width: 100%
  padding: 16px 8px
  &:hover
    background-color: #00adc7

