@import "../../../../../../styles/variables"

.userMenu
  display: flex
  align-items: center
  white-space: nowrap
  padding-bottom: 20px
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  .userAvatar
    width: 38px
    min-width: 38px
    height: 38px
    border-radius: 10px
    border: 1px solid $white
    overflow: hidden
    background: $white
    div
      width: 100%
      height: 100%
      border-radius: 0
      @include flex
    .userCreateAvatar
      font-size: 18px
      font-weight: bold
      text-align: center
      color: $darkViolet
      display: block
      margin: auto
  .title
    margin: 0
    padding-left: 8px
    color: $white
    font-size: $menuFont
    text-decoration: none
    overflow: hidden
    div
      overflow: hidden
      text-overflow: ellipsis
    div:first-child
      font-weight: 600
    div:nth-child(2)
      color: rgba(255, 255, 255, 0.7)
      font-weight: 400
      font-size: $tableFont
      padding-top: 5px

  &.small
    .title
      display: none
