@import "../../styles/variables"

.form
  width: 100%
  max-width: 380px

.loginForm
  box-shadow: none
  div:first-child
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

  div:nth-child(2)
    border-top: none
    border-top-left-radius: 0
    border-top-right-radius: 0