@import "../../styles/variables"

.root
  height: 100%
  min-height: 100vh
  @include flex

.loginImg
  flex: 0 0.65 65%


.loginForm
  flex: 0 0.35 35%

@media (max-width: 950px)
  .loginImg
    flex: 0 1 100%
  .loginForm
    background: none !important
    position: absolute !important
    flex: 0 1 100%