@import "../../../styles/variables"

.formGroup
  width: 100%
  margin-bottom: 8px
  .label
    color: $greyFont
    position: relative
    font-size: 13px
    transform: none
    font-weight: 500
    margin-bottom: 9px
  .formRow
    display: flex
    div
      flex: 0 0.33 33%
      &:first-child
        border-bottom-right-radius: 0
        border-top-right-radius: 0
        border-right: none
      &:last-child
        border-bottom-left-radius: 0
        border-top-left-radius: 0
        border-left: 0
      &:nth-child(2)
        border-radius: 0
      input
        text-align: center
      input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
        -webkit-appearance: none
        margin: 0
